.container-dreams{
    width: 33%;
    height: 250px; 
    position: relative;
    border-radius: .8em;
}

.info-dreams{
    width: 100%;
    height: 35%;
    background: rgba(0, 0, 0, 0.25);
    border-top: 1px solid #345678;
    backdrop-filter: blur(7px);
    border-radius: 0px 0px .8em .8em;
    position: absolute;
    z-index: 999;
    bottom: 0;
    text-align: center;
}

.image-dreams{
    top: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .8em;
    z-index: -999;
}