header{
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12.5px);
  border-bottom: .5px solid #000;
}

nav{
  max-width: 1300px;
  width: 100%;
  height: 100%;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
}